TELEGRAM_BOT_TOKEN=123456:ABCDEF
GOOGLE_SERVICE_ACCOUNT_JSON=./service-account.json
GOOGLE_SPREADSHEET_ID=1AbCdEfGhIjKlMnOpQrStUvWxYz
PDF_STORAGE_DIR=./storage/waybills
PUBLIC_BASE_URL=https://example.com/waybills
ADMIN_PHONE_NUMBERS=+79991234567
